.keyboard {
	margin: 0 auto;
	margin-top: 35px;
	border: 5px solid black;
	padding: 10px;
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 714px;

	.line {
		display: flex;
		margin-bottom: 6px;
	}

	.line:last-child {
		margin-bottom: 0px;
	}

	.key {
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid #6446ce;
		border-radius: 7px;
		margin-right: 6px;
		float: left;
		cursor: pointer;
		font-size: 16px;
		line-height: 100%;
		color: black;
		background-color: white;
		transition: all 0.5s;
		user-select: none;
	}

	.key:last-child {
		margin-right: 0;
	}

	.key:hover {
		background-color: #6446ce;
		color: white;
	}

	.key.active {
		background-color: #6446ce;
		color: white;
	}

	.backspace {
		width: 86px;
	}

	.tab,
	.slash {
		width: 63px;
	}

	.capslock {
		width: 77px;
	}

	.enter {
		width: 95px;
	}

	.shift {
		width: 86px;
	}

	.space {
		width: 295px;
	}

	.del {
		width: 61px;
	}

	.hidden {
		display: none;
	}
}